name: Lint Workflow

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  static_analysis:
    name: semgrep
    runs-on: ubuntu-latest
    permissions:
        security-events: write
    container:
        image: returntocorp/semgrep:1.1.0
    steps:
        - uses: actions/checkout@v3
        - name: "Execute Semgrep"
          uses: returntocorp/Semgrep-action@v1
          with:
            config: p/default
        

  code_quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Execute make code-quality
        run: make code-quality

  hadolint:
    name: Dockerfile analysis
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
            dockerfile: Dockerfile
      

  super_linter:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter/slim@v5.0.0
        env: 
            VALIDATE_ALL_CODEBASE: false
            
        
        
